~/.ipynb_checkpoints/
data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv
*.log
~/.log/

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
